In [65]:
# Standard libraries
import pandas as pd
import json
import numpy as np
import pandas as pd
from scipy import stats
from copy import copy
import pyprind
from itertools import product
from time import sleep
from tqdm import tqdm

# Plots and visualizations
import matplotlib.pyplot as plt
import seaborn as sns

df_raw = pd.read_json("stocks.json", lines=True)
df_raw.head(2)

,_id,Company,Price,Earnings Date,description,20-Day Simple Moving Average,200-Day Simple Moving Average,50-Day,52-Week,Analyst Recom,Average True Range,Average Volume,Beta,Change,EPS ttm,ROI,ratio,performance
0,{'$oid': '52853800bb1177ca391c17ff'},Agilent Technologies Inc.,50.44,{'$date': '2013-11-14T21:30:00.000+0000'},"{'Country': 'USA', 'Sector': 'Healthcare', 'In...",-0.0172,0.1062,"[0.0728, -0.054400000000000004]","[0.4378, -0.054400000000000004]",1.6,0.86,2569.36,1.50,-0.0148,2.68,0.163,"{'quick': 2.3, 'current': 3}","{'Year': 0.4242, 'Half Year': 0.1439, 'Month':..."
1,{'$oid': '52853800bb1177ca391c1800'},"Alcoa, Inc.",9.02,{'$date': '2013-10-08T20:30:00.000+0000'},"{'Country': 'USA', 'Sector': 'Basic Materials'...",-0.0192,0.0823,"[0.1579, -0.0925]","[0.1899, -0.0925]",3.1,0.30,26728.11,2.02,0.0033,0.25,0.007,"{'quick': 0.7000000000000001, 'current': 1.2}","{'Year': 0.09630000000000001, 'Half Year': 0.0..."

In [51]:
# Utility function

def resumetable(df):
    print(f"Dataset Shape: {df.shape}")
    summary = pd.DataFrame(df.dtypes,columns=['dtypes'])
    summary = summary.reset_index()
    summary['Name'] = summary['index']
    summary = summary[['Name','dtypes']]
    summary['Missing'] = df.isnull().sum().values    
    #summary['Uniques'] = df.nunique().values
    summary['First Value'] = df.loc[0].values
    summary['Second Value'] = df.loc[1].values
    summary['Third Value'] = df.loc[2].values

    return summary

resumetable(df_raw)

Dataset Shape: (6756, 18)

,Name,dtypes,Missing,First Value,Second Value,Third Value
0,_id,object,0,{'$oid': '52853800bb1177ca391c17ff'},{'$oid': '52853800bb1177ca391c1800'},{'$oid': '52853800bb1177ca391c1801'}
1,Company,object,0,Agilent Technologies Inc.,"Alcoa, Inc.",WCM/BNY Mellon Focused Growth ADR ETF
2,Price,float64,13,50.44,9.02,36.4
3,Earnings Date,object,2198,{'$date': '2013-11-14T21:30:00.000+0000'},{'$date': '2013-10-08T20:30:00.000+0000'},None
4,description,object,0,"{'Country': 'USA', 'Sector': 'Healthcare', 'In...","{'Country': 'USA', 'Sector': 'Basic Materials'...","{'Country': 'USA', 'Sector': 'Financial', 'Ind..."
5,20-Day Simple Moving Average,float64,14,-0.0172,-0.0192,-0.0054
6,200-Day Simple Moving Average,float64,14,0.1062,0.0823,0.0693
7,50-Day,object,0,"[0.0728, -0.054400000000000004]","[0.1579, -0.0925]","[0.0792, -0.0194]"
8,52-Week,object,0,"[0.4378, -0.054400000000000004]","[0.1899, -0.0925]","[0.2727, -0.0194]"
9,Analyst Recom,float64,2591,1.6,3.1,NaN
10,Average True Range,float64,14,0.86,0.3,0.31
11,Average Volume,float64,14,2569.36,26728.11,10.07
12,Beta,float64,2547,1.5,2.02,NaN
13,Change,float64,14,-0.0148,0.0033,0.0064
14,EPS ttm,float64,1728,2.68,0.25,NaN
15,ROI,float64,2104,0.163,0.007,NaN
16,ratio,object,0,"{'quick': 2.3, 'current': 3}","{'quick': 0.7000000000000001, 'current': 1.2}","{'quick': None, 'current': None}"
17,performance,object,0,"{'Year': 0.4242, 'Half Year': 0.1439, 'Month':...","{'Year': 0.09630000000000001, 'Half Year': 0.0...","{'Year': 0.229, 'Half Year': 0.04, 'Month': 0...."

In [52]:
for col in df_raw:
    print(col)
    print(type(df_raw[col].values[0]))
    print("---------------")

_id
<class 'dict'>
---------------
Company
<class 'str'>
---------------
Price
<class 'numpy.float64'>
---------------
Earnings Date
<class 'dict'>
---------------
description
<class 'dict'>
---------------
20-Day Simple Moving Average
<class 'numpy.float64'>
---------------
200-Day Simple Moving Average
<class 'numpy.float64'>
---------------
50-Day
<class 'list'>
---------------
52-Week
<class 'list'>
---------------
Analyst Recom
<class 'numpy.float64'>
---------------
Average True Range
<class 'numpy.float64'>
---------------
Average Volume
<class 'numpy.float64'>
---------------
Beta
<class 'numpy.float64'>
---------------
Change
<class 'numpy.float64'>
---------------
EPS ttm
<class 'numpy.float64'>
---------------
ROI
<class 'numpy.float64'>
---------------
ratio
<class 'dict'>
---------------
performance
<class 'dict'>
---------------

In [53]:
_id_column = df_raw["_id"].apply(lambda x: x.get('$oid'))
# np.datetime64
_id_column

0       52853800bb1177ca391c17ff
1       52853800bb1177ca391c1800
2       52853800bb1177ca391c1801
3       52853800bb1177ca391c1802
4       52853800bb1177ca391c1803
                  ...
6751    52853810bb1177ca391c325e
6752    52853810bb1177ca391c325f
6753    52853810bb1177ca391c3260
6754    52853810bb1177ca391c3261
6755    52853810bb1177ca391c3262
Name: _id, Length: 6756, dtype: object

In [54]:
date_column = df_raw["Earnings Date"].apply(lambda x: np.nan if x is None else x.get('$date'))
date_column = pd.to_datetime(date_column)
date_column

0      2013-11-14 21:30:00+00:00
1      2013-10-08 20:30:00+00:00
2                            NaT
3                            NaT
4                            NaT
                  ...
6751                         NaT
6752                         NaT
6753   2013-11-05 13:30:00+00:00
6754   2013-12-05 21:30:00+00:00
6755   2013-11-20 13:30:00+00:00
Name: Earnings Date, Length: 6756, dtype: datetime64[ns, UTC]

In [55]:
desc_column = df_raw["description"].apply(
    lambda x: x if not None else {"Country": None, "Sector": None, "Industry": None})
desc_column = desc_column.fillna("null")
desc_column

0       {'Country': 'USA', 'Sector': 'Healthcare', 'In...
1       {'Country': 'USA', 'Sector': 'Basic Materials'...
2       {'Country': 'USA', 'Sector': 'Financial', 'Ind...
3       {'Country': 'USA', 'Sector': 'Financial', 'Ind...
4       {'Country': 'USA', 'Sector': 'Financial', 'Ind...
                              ...
6751    {'Country': 'USA', 'Sector': 'Financial', 'Ind...
6752    {'Country': 'USA', 'Sector': 'Financial', 'Ind...
6753    {'Country': 'USA', 'Sector': 'Healthcare', 'In...
6754    {'Country': 'USA', 'Sector': 'Services', 'Indu...
6755    {'Country': 'China', 'Sector': 'Consumer Goods...
Name: description, Length: 6756, dtype: object

In [56]:
# Make description node based on the combinations of
# descriptions

country = desc_column.apply(lambda x: x["Country"]).unique()
sector = desc_column.apply(lambda x: x["Sector"]).unique()
industry = desc_column.apply(lambda x: x["Industry"]).unique()

#desc_combs = 
combinations = np.array(list(product(country, sector, industry)))
desc_nodes = pd.DataFrame(combinations, columns=[
    "Country", "Sector", "Industry"
])
desc_nodes

# Not plausable due to time complexy and overhead
"""for ind, data in desc_column.iteritems():
    for ind_match, data_match in desc_nodes.iterrows():
        if data["Country"] == data_match["Country"] \
            and data["Sector"] == data_match["Sector"] \
            and data["Industry"] == data_match["Industry"]:
            desc_ids.append(ind_match)"""

'for ind, data in desc_column.iteritems():\n    for ind_match, data_match in desc_nodes.iterrows():\n        if data["Country"] == data_match["Country"]             and data["Sector"] == data_match["Sector"]             and data["Industry"] == data_match["Industry"]:\n            desc_ids.append(ind_match)'

In [46]:
desc_ids = []
for ind, data in tqdm(desc_column.iteritems()):
    desc_ids.append(
        desc_nodes[(desc_nodes["Country"] == data["Country"])
                &  (desc_nodes["Sector"] == data["Sector"])
                &  (desc_nodes["Industry"]== data["Industry"])].index)

6756it [03:54, 28.81it/s]

In [58]:
desc_ids = np.array(desc_ids)
desc_ids

array([[    0],
       [  217],
       [  434],
       ...,
       [   46],
       [  797],
       [11123]], dtype=int64)

In [59]:
perf_column = df_raw["performance"].apply(
    lambda x: x if not None else {"Year": None, "Half Year": None, "Month": None, "Week": None})
perf_column = perf_column.apply(lambda x: {"HalfYear" if k == "Half Year"  else k:v for k,v in x.items()}
                                   )
perf_column[0]

{'Year': 0.4242,
 'HalfYear': 0.1439,
 'Month': 0.0063,
 'Week': 0.0031000000000000003}

In [60]:
ratio_column = df_raw["ratio"].apply(lambda x: x if not None else {"quick": None, "current": None})
ratio_column = ratio_column.fillna("null")

In [66]:
df_raw

,_id,Company,Price,Earnings Date,description,20-Day Simple Moving Average,200-Day Simple Moving Average,50-Day,52-Week,Analyst Recom,Average True Range,Average Volume,Beta,Change,EPS ttm,ROI,ratio,performance
0,{'$oid': '52853800bb1177ca391c17ff'},Agilent Technologies Inc.,50.44,{'$date': '2013-11-14T21:30:00.000+0000'},"{'Country': 'USA', 'Sector': 'Healthcare', 'In...",-0.0172,0.1062,"[0.0728, -0.054400000000000004]","[0.4378, -0.054400000000000004]",1.6,0.86,2569.36,1.50,-0.0148,2.68,0.163,"{'quick': 2.3, 'current': 3}","{'Year': 0.4242, 'Half Year': 0.1439, 'Month':..."
1,{'$oid': '52853800bb1177ca391c1800'},"Alcoa, Inc.",9.02,{'$date': '2013-10-08T20:30:00.000+0000'},"{'Country': 'USA', 'Sector': 'Basic Materials'...",-0.0192,0.0823,"[0.1579, -0.0925]","[0.1899, -0.0925]",3.1,0.30,26728.11,2.02,0.0033,0.25,0.007,"{'quick': 0.7000000000000001, 'current': 1.2}","{'Year': 0.09630000000000001, 'Half Year': 0.0..."
2,{'$oid': '52853800bb1177ca391c1801'},WCM/BNY Mellon Focused Growth ADR ETF,36.40,None,"{'Country': 'USA', 'Sector': 'Financial', 'Ind...",-0.0054,0.0693,"[0.0792, -0.0194]","[0.2727, -0.0194]",NaN,0.31,10.07,NaN,0.0064,NaN,NaN,"{'quick': None, 'current': None}","{'Year': 0.229, 'Half Year': 0.04, 'Month': 0...."
3,{'$oid': '52853800bb1177ca391c1802'},iShares MSCI AC Asia Information Tech,29.95,None,"{'Country': 'USA', 'Sector': 'Financial', 'Ind...",-0.0295,0.0492,"[0.0609, -0.0641]","[0.1791, -0.0641]",NaN,0.45,1.64,NaN,-0.0200,NaN,NaN,"{'quick': None, 'current': None}","{'Year': 0.1947, 'Half Year': 0.0307, 'Month':..."
4,{'$oid': '52853800bb1177ca391c1803'},Altisource Asset Management Corporation,597.98,None,"{'Country': 'USA', 'Sector': 'Financial', 'Ind...",-0.0189,0.9846,"[0.8672000000000001, -0.1812]","[38.8653, -0.1812]",NaN,30.17,4.94,NaN,0.0135,-0.02,NaN,"{'quick': None, 'current': None}","{'Year': None, 'Half Year': 0.9832000000000001..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6751,{'$oid': '52853810bb1177ca391c325e'},ProShares UltraShort Silver,80.70,None,"{'Country': 'USA', 'Sector': 'Financial', 'Ind...",0.1056,0.0874,"[0.3103, -0.039]","[1.0457, -0.3058]",NaN,2.50,397.30,NaN,-0.0213,NaN,NaN,"{'quick': None, 'current': None}","{'Year': 0.8501000000000001, 'Half Year': 0.04..."
6752,{'$oid': '52853810bb1177ca391c325f'},Zweig Total Return Fund Inc.,13.53,None,"{'Country': 'USA', 'Sector': 'Financial', 'Ind...",0.0128,0.0714,"[0.0771, 0]","[0.23190000000000002, 0]",NaN,0.10,91.86,NaN,0.0059,NaN,NaN,"{'quick': None, 'current': None}","{'Year': 0.185, 'Half Year': 0.0443, 'Month': ..."
6753,{'$oid': '52853810bb1177ca391c3260'},Zoetis Inc.,31.65,{'$date': '2013-11-05T13:30:00.000+0000'},"{'Country': 'USA', 'Sector': 'Healthcare', 'In...",-0.0127,-0.0043,"[0.0692, -0.0487]","[0.1008, -0.101]",1.7,0.62,4032.97,NaN,-0.0022,0.84,0.095,"{'quick': 1.4, 'current': 2.3}","{'Year': None, 'Half Year': -0.046, 'Month': -..."
6754,{'$oid': '52853810bb1177ca391c3261'},"Zumiez, Inc.",29.56,{'$date': '2013-12-05T21:30:00.000+0000'},"{'Country': 'USA', 'Sector': 'Services', 'Indu...",0.0083,0.0773,"[0.2353, -0.023100000000000002]","[0.6486000000000001, -0.11760000000000001]",2.6,0.89,225.29,1.62,-0.0003,1.39,0.131,"{'quick': 1.4, 'current': 2.7}","{'Year': 0.44670000000000004, 'Half Year': -0...."
6755,{'$oid': '52853810bb1177ca391c3262'},China Zenix Auto International Ltd.,3.83,{'$date': '2013-11-20T13:30:00.000+0000'},"{'Country': 'China', 'Sector': 'Consumer Goods...",0.0000,0.2125,"[0.3345, -0.10300000000000001]","[0.5892000000000001, -0.10300000000000001]",2.0,0.20,22.69,NaN,0.0026,0.70,0.121,"{'quick': 1.1, 'current': 1.3}","{'Year': 0.3357, 'Half Year': 0.3038, 'Month':..."

In [67]:
df_clean = df_raw
df_clean["_id"] = _id_column
df_clean["Earnings Date"] = date_column
df_clean["description"] = desc_ids
df_clean["performance"] = perf_column
df_clean["ratio"] = ratio_column
df_clean.columns = ["id", "company", "price", "earningsdate", 
"desc_id", "SMA20", "SMA200", "days50highlow", 
"weeks52highlow", "analyst_recommendation", 
"avg_true_rate", "avg_vol", "beta", "change", 
"EPSttm", "ROI", "ratio", "performance"]

df_clean.head(2)

,id,company,price,earningsdate,desc_id,SMA20,SMA200,days50highlow,weeks52highlow,analyst_recommendation,avg_true_rate,avg_vol,beta,change,EPSttm,ROI,ratio,performance
0,52853800bb1177ca391c17ff,Agilent Technologies Inc.,50.44,2013-11-14 21:30:00+00:00,0,-0.0172,0.1062,"[0.0728, -0.054400000000000004]","[0.4378, -0.054400000000000004]",1.6,0.86,2569.36,1.50,-0.0148,2.68,0.163,"{'quick': 2.3, 'current': 3}","{'Year': 0.4242, 'HalfYear': 0.1439, 'Month': ..."
1,52853800bb1177ca391c1800,"Alcoa, Inc.",9.02,2013-10-08 20:30:00+00:00,217,-0.0192,0.0823,"[0.1579, -0.0925]","[0.1899, -0.0925]",3.1,0.30,26728.11,2.02,0.0033,0.25,0.007,"{'quick': 0.7000000000000001, 'current': 1.2}","{'Year': 0.09630000000000001, 'HalfYear': 0.06..."

In [70]:
desc_nodes.index.name = "desc_id"

In [71]:
desc_nodes.to_csv("desc_nodes.csv")

In [69]:
df_clean.to_csv("stocks_clean.csv", index=False)

In [27]:
df_clean.to_json("stocks_clean.json", orient='records')

In [66]:
import json
import re
 
# Opening JSON file
f = open('stocks_clean.json')
 
# returns JSON object as
# a dictionary
data = json.load(f)
 
ratio_ = ["current", "quick"]
perf_ = ["Year", "Half_Year", "Month", "Week"]
desc_ = ["Country", "Sector", "Industry"]
 
# Iterating through the json
# list
# BIG O = O(n*m), n is rows and m is number of key-value pairs
with open('insert_json.cql', 'w') as f:
    for row in data:
        string = str(row).replace("'", '"')
        string = string.replace("Half Year", "Half_Year")
        string = string.replace("None", 'null')
        # Regex find empty values in dictonary
        
        # Replacing empty values with null
        pattern = r'"(\w+)": null'
        null_value_kwgargs = re.findall(pattern, string)
        for match in null_value_kwgargs:
            if match in ratio_:
                string = string.replace(f'"{match}": null', f'"{match}": 0.0')
            elif match in perf_:
                string = string.replace(f'"{match}": null', f'"{match}": 0.0')
            elif match in desc_:
                string = string.replace(f'"{match}": null', f'"{match}": ""')
            elif match == "price":
                string = string.replace(f'"{match}": null', f'"{match}": 0.0')
            else:
                continue
        
        """if len(null_value_kwgargs) > 0:
            print(null_value_kwgargs)
            print(string)
            break"""
        
        f.write(f"INSERT INTO stocks.stocks JSON '{string}';\n")
# Closing file
f.close()